body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

.main-container {
  padding: 20px;
}

.listings-container {
  display: flex;
  flex-direction: column;
} 
