header {
  background-color: #453636;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 15px; /* Space out the links */
  transition: opacity 150ms ease;
}

header nav a:hover {
  opacity: 0.8;
}